labahtmlcss12/fsf.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="body">
 <xs:complexType>
 <xs:sequence>
     <xs:element name="h" type="xs:string"/>
     <xs:element name="h3" type="xs:string"/>
     <xs:element name="content" type="xs:string"/>
    </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>
